@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
.brand-title {
  font-family: 'Poppins', sans-serif;
  letter-spacing: -0.5px;
}